<div class="container">
    <div>
      <div class="container text-center" style="margin: 5px">
        <h2>Registrar medicamento</h2>
      </div>
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                      <div class="mb-1">
                        <label for="description" class="form-label">Referencia</label>
                        <input type="text" class="form-control" id="referencia" name="referencia" required="true" [(ngModel)]="medicamento.referencia">
                    </div> 
                    <div class="mb-1">
                        <label for="existencia" class="form-label">Nombre medicamento</label>
                        <input type="email" class="form-control" id="nombreMedicamento" name="nombreMedicamento" [(ngModel)]="medicamento.nombre">
                    </div>
                    <div class="mb-1">
                        <label for="existencia" class="form-label">fecha Vencimiento</label>
                        <input type="text" class="form-control" id="fechaVencimiento" name="fechaVencimiento" [(ngModel)]="medicamento.fechaVencimiento">
                      </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <label for="existencia" class="form-label">Cantidad </label>
                            <input type="text" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="medicamento.cantidad">
                          </div>
                          <div class="mb-1">
                            <label for="existencia" class="form-label">Empleado </label>
                            <input type="number" class="form-control" id="empleado" name="empleado" [(ngModel)]="medicamento.empleadoCedula">
                          </div>    
                    </div>
                </div>          
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <a href="/" class="btn btn-danger">Regresar</a>
                </div>
            </form>
    </div>    
    <div class="container text-center" style="margin: 30px;">
        <h3>Inventario medicamentos</h3>
    </div>
    <table class="table table-striped table-hover align-middle border-primary">
        <thead class="table-dark">
          <tr>
            <th scope="col">Referencia</th>
            <th scope="col">Nombre medicamento</th>
            <th scope="col">fecha Vencimiento </th>
            <th scope="col">Cantidad</th>
            <th scope="col">Empleado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicamento of medicamentos">
            <th scope="row">{{medicamento.referencia}}</th>
            <td>{{medicamento.nombre}}</td>
            <td>{{medicamento.fechaVencimiento}}</td>
            <td>{{medicamento.cantidad}}</td>
            <td>{{medicamento.empleadoCedula}}</td>
            <td class="text-center">
              <div>
                <button  
                class="btn btn-warning btn-sm me-3">Editar</button>
                <button (click)="eliminarMedicamento(medicamento.referencia)"
                class="btn btn-danger btn-sm">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>