<div class="container">
    <div>
      <div class="container text-center" style="margin: 5px">
        <h2>Registrar medicamento</h2>
      </div>
            <form >
                <div class="row">
                    <div class="col">
                      <div class="mb-1">
                        <label for="description" class="form-label">Nombre medicamento</label>
                        <input type="text" class="form-control" id="description" name="description" required="true">
                    </div> 
                    <div class="mb-1">
                        <label for="existencia" class="form-label">Fecha vencimiento</label>
                        <input type="email" class="form-control" id="existencia" name="existencia">
                    </div>
                    <div class="mb-1">
                        <label for="existencia" class="form-label">Observaciones</label>
                        <input type="text" class="form-control" id="existencia" name="existencia">
                      </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <label for="existencia" class="form-label">Cantidad </label>
                            <input type="text" class="form-control" id="existencia" name="existencia">
                          </div>
                          <div class="mb-1">
                            <label for="existencia" class="form-label">Embalaje </label>
                            <input type="number" class="form-control" id="existencia" name="existencia">
                          </div>    
                    </div>
                </div>          
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <a href="/" class="btn btn-danger">Regresar</a>
                </div>
            </form>
    </div>    
    <div class="container text-center" style="margin: 30px;">
        <h3>Inventario medicamentos</h3>
    </div>
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">medicamento</th>
            <th scope="col">Cantidad </th>
            <th scope="col">Caducidad</th>
            <th scope="col">Embalaje</th>
            <th scope="col">Observación</th>
            <th scope="col">Acciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">000001</th>
            <td>Acetaminofen</td>
            <td>108</td>
            <td>22/06/2024</td>
            <td>cajas</td>
            <td>Conservar en lugar seco</td>

            <td class="text-center">
              <div>
                <button  
                class="btn btn-warning btn-sm me-3">Editar</button>
                <button 
                class="btn btn-danger btn-sm">Eliminar</button>
              </div>
            </td>
          </tr>
          <tr >
            <th scope="row">000002</th>
            <td>Loratadina</td>
            <td>210</td>
            <td>22/06/2024</td>
            <td>cajas</td>
            <td>Conservar en lugar seco</td>

            <td class="text-center">
              <div>
                <button  
                class="btn btn-warning btn-sm me-3">Editar</button>
                <button 
                class="btn btn-danger btn-sm">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>