<div class="container">
    <div>
      <div class="container text-center" style="margin: 5px">
        <h2>Registrar empleado</h2>
      </div>
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                      <div class="mb-1">
                        <label for="description" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required="true" [(ngModel)]="empleado.nombres">
                    </div> 
                   
                      <div class="mb-1">
                        <label for="existencia" class="form-label">cédula</label>
                        <input type="text" class="form-control" id="cedula" name="cedula" [(ngModel)]="empleado.cedula">
                      </div>
                      <div class="mb-1">
                        <label for="existencia" class="form-label">Tipo de cargo</label>
                        <input type="tel" class="form-control" id="tipoCargo" name="tipoCargo" [(ngModel)]="empleado.tipoCargo">
                      </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <label for="existencia" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="empleado.apellidos">
                          </div>
                          <div class="mb-1">
                            <label for="existencia" class="form-label">teléfono</label>
                            <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="empleado.telefono">
                        </div>
                    </div>
                </div>          
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <a href="/" class="btn btn-danger">Regresar</a>
                </div>
            </form>
    </div>    
    <div class="container text-center" style="margin: 30px;">
      <h3>Empleados registrados</h3>
  </div>  
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos </th>
          <th scope="col">telefóno</th>
          <th scope="col">tipoCargo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <th scope="row">{{empleado.cedula}}</th>
          <td>{{empleado.nombres}}</td>
          <td>{{empleado.apellidos}}</td>
          <td>{{empleado.nombres}}</td>
          <td>{{empleado.tipoCargo}}</td>

          <td class="text-center">
            <div>
              <button  
              class="btn btn-warning btn-sm me-3">Editar</button>
              <button (click)="eliminarEmpleados(empleado.cedula)"
              class="btn btn-danger btn-sm">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
