<div class="container">
    <div>
      <div class="container text-center" style="margin: 5px">
        <h2>Registrar consultorio</h2>
      </div>
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                      <div class="mb-1">
                        <label for="NombreMedico" class="form-label">Número consultorio</label>
                        <input type="number" class="form-control" id="numeroConsultorio" name="numeroConsultorio" required="true"  [(ngModel)]="consultorio.numeroConsultorio">
                    </div> 
                    <div class="mb-1">
                        <label for="especialidad" class="form-label">Especialidad</label>
                        <input type="text" class="form-control" id="especialidad" name="especialidad"  [(ngModel)]="consultorio.especialidad">
                      </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <label for="numConsultorio" class="form-label">Médico asignado</label>
                            <input type="text" class="form-control" id="medicoAsignado" name="medicoAsignado"  [(ngModel)]="consultorio.medicoAsignado">
                          </div>
                    </div>
                </div>          
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <a href="/" class="btn btn-danger">Regresar</a>
                </div>
            </form>
    </div>    
    <div class="container text-center" style="margin: 30px;">
      <h3>Consultorios registrados</h3>
  </div>  
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">Número Consultorio</th>
          <th scope="col">medico asignado</th>
          <th scope="col">especialidad </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consultorio of consultorios">
          <th scope="row">{{consultorio.numeroConsultorio}}</th>
          <td>{{consultorio.medicoAsignado}}</td>
          <td>{{consultorio.especialidad}}</td>
          <td class="text-center">
            <div>
              <button  
              class="btn btn-warning btn-sm me-3">Editar</button>
              <button  (click)="eliminarConsultorios(consultorio.numeroConsultorio)"
              class="btn btn-danger btn-sm">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>