<div class="container">
    <div>
      <div class="container text-center" style="margin: 5px">
        <h2>Registrar tratamiento</h2>
      </div>
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                      <div class="mb-1">
                        <label for="description" class="form-label">Id Tratamiento</label>
                        <input type="text" class="form-control" id="idTratamiento" name="idTratamiento" required="true" [(ngModel)]="tratamiento.idTratamiento">
                    </div> 
                
                      <div class="mb-1">
                        <label for="existencia" class="form-label">Cedula Paciente</label>
                        <input type="text" class="form-control" id="cedulaPaciente" name="cedulaPaciente" [(ngModel)]="tratamiento.cedulaPaciente">
                      </div>
                      <div class="mb-1">
                        <label for="existencia" class="form-label">Medico </label>
                        <input type="number" class="form-control" id="medico" name="medico" [(ngModel)]="tratamiento.idMedico">
                      </div>
                      
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <label for="existencia" class="form-label">Medicamento</label>
                            <input type="text" class="form-control" id="medicamento" name="medicamento" [(ngModel)]="tratamiento.medicamento">
                          </div>
                          <div class="mb-1">
                            <label for="existencia" class="form-label">Observaciones</label>
                            <input type="email" class="form-control" id="observaciones" name="observaciones" [(ngModel)]="tratamiento.observaciones">
                        </div>
                          <div class="mb-1">
                            <label for="existencia" class="form-label">Referencia medicamento</label>
                            <input type="text" class="form-control" id="referenciaMedicamente" name="referenciaMedicamente" [(ngModel)]="tratamiento.referenciaMedicamento">
                          </div>
                    </div>
                </div>          
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <a href="/" class="btn btn-danger">Regresar</a>
                </div>
            </form>
    </div>    
    <div class="container text-center" style="margin: 30px;">
        <h3>Tratamiento</h3>
    </div>
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Paciente</th>
            <th scope="col">Medico </th>
            <th scope="col">Medicamento</th>
            <th scope="col">Referencia</th>
            <th scope="col">Observaciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tratamiento of tratamientos">
            <th scope="row">{{tratamiento.idTratamiento}}</th>
            <td>{{tratamiento.cedulaPaciente}}</td>
            <td>{{tratamiento.idMedico}}</td>
            <td>{{tratamiento.medicamento}}</td>
            <td>{{tratamiento.referenciaMedicamento}}</td>
            <td>{{tratamiento.observaciones}}</td>
            <td class="text-center">
              <div>
                <button  
                class="btn btn-warning btn-sm me-3">Editar</button>
                <button 
                class="btn btn-danger btn-sm">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>